.custom-reaction-picker {
    width: 451px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 1px;
    height: 400px;
    overflow: auto;
}

.reactions-container {
    flex-wrap: wrap;
    flex-direction: row;
}