.btn-nav-row {
  display: flex;
  gap: 10px;

}


.nav-button {
  height: 44px;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.nav-button:hover {
  transition: all ease 1.4s;
  color: lightblue;
}