.post-container {
    display: grid;
    grid-template-columns: .5fr 900px .5fr;
}

.center-post {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-row {
    display: flex;
    width: 100%;
    font-size: 20pt;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 20px;
}

.post-details {
    margin-top: 20px;
}

.reactions-container {
    display: flex;
}

.smol-text {
    font-size: 12px;
}

.post-content-post {
    margin-top: 10px;
    border-top: 1px solid white;
    width: 100%;
}

.posted-on-details {
    font-size: 14px;
}