.post-container{
    display: grid;
    grid-template-columns: .5fr 900px .5fr;
}

.center-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.reactions-button{
    border: 1px solid white;
    border-radius: 10px;
    width: 270px;
    font-size: 24pt;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.reaction-button{
    background-color: transparent;
    border: transparent;
    color: white;
    display: inline;
}

.smol-text{
    font-size: 12px;
}